<h1>Welcome to the Angular JS 2</h1>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
            <img src="../imgs/Why-so-serious-FB-Cover.jpg" alt="Why so serious" width="100%">
        </div>

        <div class="item">
            <img src="../imgs/never-stop-dreaming-quote-fb-cover.jpg" alt="Dream" width="100%">
        </div>

        <div class="item">
            <img src="../imgs/every_dark_night_facebook_cover_1463994849.jpg" alt="Success" width="100%">
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<br>
